@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
  }

.Header {
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

.Header .titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    height: 160px;
}

.Header .titleBox .title{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 40px;
    align-items: center;
    text-shadow: -1px 0px #fff, 0px 1px #fff, 1px 0px #fff, 0px -1px #fff;

}

.Header .logo {
    width: 40px;
    height: 33px;
    position: relative;
    top: 10px;
    -webkit-touch-callout: "none";
    user-select: none;
}

.Header .titleText {
    font-size: 40px;
    font-weight: bold;
    font-family:'bitbit';
}

.Header .colorBox {
    width: 144px;
    height: 20px;
    background-color: #73C7EF;
    position: absolute;
    z-index: -1;
    top: 62px;
}