.Header {
    display: flex;
    align-items: center;
    text-align: center;
}

.Header .titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 8px;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    height: 190px;
}

.Header .titleBox .title{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    align-items: center;

}

.Header .logo {
    width: 40px;
    height: 33px;
    position: relative;
    top: 10px;
}

.Header .titleText {
    font-size: 40px;
    font-weight: bold;
}