.Story {
    text-align: center;
    padding: 20px;
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .Story .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .Story .subtitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    color: #6B6972;
  }
  
  .Story .story {
    text-align: center;
    font-size: 15px;
    line-height: 1.2;
    white-space: pre;
    margin-bottom: 20px;
    color: #3A3636;
  }
  
  .Story .text {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .Story .button {
    background-color: #393093;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    margin-top: 40px;
  }

  
  .Story .button:hover {
    background-color: #6964a7;
    cursor: pointer;
    font-weight: bold;
  }
  